<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <link rel="stylesheet" 
              href="main.css">

              <title>Port Scanner</title>
    </head>

    <body>
        <div class="container" align="center">
            <br/>
            <h1> Port Scanner </h1>
            <!-- Initial DIV -->
            <div class="col-sm-6 formdiv">
                <form onsubmit="return onScan();">
                    <div class="form-group row">

                        <!-- Validate IP and Network prefix with regex patterns -->
                        <input type="text" class="form-control" placeholder="IP Address" required 
                               pattern="((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))(\.((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){3}$" 
                               title="Enter a valid IP address"/>
                        <br/>
                        <br/>

                        <input type="text" class="form-control" placeholder="Network prefix" 
                               pattern="((2|1)?\d)|(3[0-2])" 
                               title="Enter a valid network prefix"/>
                        <br/>
                        <br/>

                        <button type="submit" class="btn btn-primary mb-2"> 
                            <span class="fa fa-search"> </span> Start scan 
                        </button>

                    </div>
                </form>
            </div>

            <!-- Spinner DIV -->
            <div class="col-sm-6 spinner">
            </div>

            <!-- Results DIV -->
            <div class="col-sm-6 results">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP</th>
                        <th scope="col">Port</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>10.1.2.3</td>
                        <td>200</td>
                        <td>Alive</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>10.1.2.3</td>
                        <td>201</td>
                        <td>Alive</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>10.1.2.3</td>
                        <td>203</td>
                        <td>Not Alive</td>
                    </tr>
                </tbody>
            </table>

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
                crossorigin="anonymous"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"> </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
                crossorigin="anonymous"> </script>
        <!-- Scripts needed for Bootsrap -->
        <script src="script.js"></script>
   </body>

</html>
