html,
body {
  height: 100%;
  background: #ccdccc;
}

.container {
  margin: auto;
  height: 100%;
}

.formdiv,
.spinner,
.results {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  padding: 50px;
  border-radius: 50px;
}

.spinner {
  top: 50%;
  background: url("loader.gif") no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  display: none;
  transform: translateY(-50%);
}

.results .panel-group{
  text-align: left;
}

.job-title{
  font-size : 18px;
  font-weight: bold;
  cursor: pointer;
}

.job-title > td{
  border-top : none;
}