<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />

    <title>Port Scanner</title>
  </head>

  <body>
    <!-- As a heading -->

    <nav style="margin-bottom: 40px;" class="navbar navbar-light bg-light">
      <div class="center-block navbar-brand mb-0 h1">
        Port Scanner
      </div>
      <div>
        <button
          type="button"
          class="btn btn-success btn-lg"
          data-toggle="modal"
          data-target="#check_live_hosts_modal"
        >
          Check Live Hosts
        </button>

        <button
          type="button"
          class="btn btn-warning btn-lg"
          data-toggle="modal"
          data-target="#scan_request_modal"
        >
          Port Scan
        </button>
      </div>
    </nav>
    <div class="container" align="center">
      <!-- Initial DIV -->

      <!-- Modal -->
      <div id="scan_request_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Scan Request Modal -->
            <div class="modal-body">
              <div class="formdiv">
                <img src="./logo.png" alt="" />
                <h1 class="mt-3 mb-5">Port Scanner</h1>

                <form id="scan_request">
                  <div class="form-group form-row">
                    <!-- Validate IP and Network prefix with regex patterns -->
                    <input
                      name="ip_address"
                      type="text"
                      class="form-control"
                      placeholder="IP Address"
                      required
                      pattern="((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))(\.((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){3}$"
                      title="Enter a valid IP address"
                    />
                  </div>

                  <div class="form-group form-row">
                    <input
                      name="network_prefix"
                      type="text"
                      class="form-control"
                      placeholder="Network prefix"
                      pattern="((2|1)?\d)|(3[0-2])"
                      title="Enter a valid network prefix"
                    />
                  </div>

                  <div class="form-group form-row">
                    <input
                      name="start_port"
                      type="text"
                      class="form-control col-sm-6"
                      placeholder="Start port"
                      pattern="(\d)+"
                      title="Enter a valid port"
                    />

                    <input
                      name="end_port"
                      type="text"
                      class="form-control col-sm-6"
                      placeholder="End port"
                      pattern="(\d)+"
                      title="Enter a valid port"
                    />
                  </div>

                  <div class="form-group form-row">
                    <select
                      name="scan_mode"
                      class="form-control"
                      placeholder="Choose mode"
                    >
                      <option value="normal_scan">
                        Normal port scanning
                      </option>
                      <option value="syn_scan"> TCP SYN scanning </option>
                      <option value="fyn_scan"> TCP FIN scanning </option>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-info mb-2">
                    <span class="fa fa-search"> </span> Start scan
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Scan Request Modal -->

      <!-- Check Live Hosts Modal -->
      <div id="check_live_hosts_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Scan Request Modal -->
            <div class="modal-body">
              <div class="formdiv">
                <h1 class="mt-3 mb-5">Ping Scan</h1>
                <form id="check_live_hosts">
                  <div class="form-group form-row">
                    <!-- Validate IP and Network prefix with regex patterns -->
                    <input
                      name="ip_address"
                      type="text"
                      class="form-control"
                      placeholder="IP Address"
                      required
                      pattern="((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))(\.((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){3}$"
                      title="Enter a valid IP address"
                    />
                  </div>

                  <div class="form-group form-row">
                    <input
                      name="network_prefix"
                      type="text"
                      class="form-control"
                      placeholder="Network prefix"
                      pattern="((2|1)?\d)|(3[0-2])"
                      title="Enter a valid network prefix"
                    />
                  </div>

                  <button type="submit" class="btn btn-info mb-2">
                    <span class="fa fa-search"> </span> Start Scan
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Check Live Hosts Modal -->

      <!-- Spinner DIV -->
      <div class="col-sm-6 spinner"></div>

      <!-- Results DIV -->
      <div class="col-sm-12 results">
        <h1 class="my-3">Results</h1>
        <div id="scan-results" style="display: none;">
            <div id="master_header" class="row">
                <div class="col">
                    <h5>#</h5>
                </div>
                <div class="col">
                    <h5>IP Address</h5>
                </div>
                <div class="col">
                    <h5>Start Port</h5>
                </div>
                <div class="col">
                    <h5>End Port</h5>
                </div>
                <div class="col">
                    <h5>Subnet</h5>
                </div>
                <div class="col">
                    <h5>Scan Type</h5>
                </div>
                <div class="col">
                    <h5>Result</h5>
                </div>
            </div>
            <div id="accordion" class="list-group">
            </div>
        </div>
        <span id="refresh-data" class="fa fa-refresh fa-2x" aria-hidden="true" style="text-align: center;margin-top: 20px;"></span>
      </div>
    </div>

    <footer>
      Copyrights ©2019 Script Buddies
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Scripts needed for Bootsrap -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
