.container
{
    margin:auto;
    height:500px;
}

.formdiv,.spinner,.results 
{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.spinner
{
    background: url('loader.gif') no-repeat ;
    width: 100px;
    height: 100px;
    display: none;
}

.results
{
    display: none;
}
